<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Content/Clients/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Hello Admin</a>
        </div>
    </div>

   
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/home" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Revenue Statistics
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Category
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/order" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Orders
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/news" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        News
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/Aboutus" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        About us
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Product Management
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Product Categories</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/products" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Products</p>
                        </a>
                    </li>
                </ul>
            </li>
            @*<li class="nav-item">
            <a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Đăng xuất
                </p>
            </a>
        </li>*@
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

@if (Request.IsAuthenticated)
{
    <div style="display:none">
        @using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken();
        }
    </div>

}